In [164]:
import pandas as pd
import glob

In [165]:
pd.DataFrame(columns=["tile_x", "tile_y", "date"])

Empty DataFrame
Columns: [tile_x, tile_y, date]
Index: []

In [166]:
!ls

demo.py
image_hist.py
ndvi.ipynb
ndvi_calculation.py
read_json.py
read_tiles.py.ipynb

In [167]:
TCI_files_ex = glob.glob('../../data/phase-02/sugarcanetiles/7680-10240-TCI*.png')

In [168]:
len(TCI_files_ex)

71

In [169]:
filename = TCI_files_ex[0].split('\\')[1]
fname = filename.split('.')[0]
tile_x = fname.split('-')[0]
tile_y = fname.split('-')[1]
date = fname.split('-')[3] + fname.split('-')[4] + fname.split('-')[5]
print(fname, "%s %s %s" % (tile_x, tile_y, date))

7680-10240-TCI-2016-12-22 7680 10240 20161222

In [170]:
TCI_files = glob.glob('../../data/phase-02/sugarcanetiles/*-*-TCI*.png')

In [171]:
len(TCI_files)

4615

In [172]:
i = 0
df = pd.DataFrame(columns=["tile_x", "tile_y", "date"])
for TCI_file in TCI_files:
    #print(TCI_file)
    filename = TCI_file.split('\\')[1]
    fname = filename.split('.')[0]
    tile_x = fname.split('-')[0]
    tile_y = fname.split('-')[1]
    date = fname.split('-')[3] + "-" + fname.split('-')[4] +  "-" + fname.split('-')[5]
    #print(fname, "%s %s %s" % (tile_x, tile_y, date))
    row = pd.DataFrame([[tile_x, tile_y, date]], columns=['tile_x', 'tile_y', 'date'])
    df = df.append(row, ignore_index=True)
    i += 1
print(i)

4615

In [173]:
x = pd.DataFrame([[tile_x, tile_y, date]], columns=['tile_x', 'tile_y', 'date'])

In [174]:
df['tile_x']

0       1536
1       1536
2       1536
3       1536
4       1536
        ...
4610    8704
4611    8704
4612    8704
4613    8704
4614    8704
Name: tile_x, Length: 4615, dtype: object

In [175]:
tiles = df[['tile_x']] + df[['tile_y']]

In [176]:
df['tile'] = df.apply(lambda x : x['tile_x'] + "_" + x['tile_y'], axis=1)

In [177]:
tiles = df['tile'].value_counts()
t = tiles.to_frame()
t.to_csv("../../data/1_raw/tiles.csv", header=False)

In [178]:
df['tile'].unique

<bound method Series.unique of 0        1536_1024
1        1536_1024
2        1536_1024
3        1536_1024
4        1536_1024
           ...
4610    8704_10240
4611    8704_10240
4612    8704_10240
4613    8704_10240
4614    8704_10240
Name: tile, Length: 4615, dtype: object>

In [179]:
tiles_df = pd.read_csv("../../data/1_raw/tiles.csv", names=["tile", "N_dates"])
tiles_df['tile_x'] = tiles_df.apply(lambda x : x['tile'].split('_')[0], axis=1)
tiles_df['tile_y'] = tiles_df.apply(lambda x : x['tile'].split('_')[1], axis=1)

In [180]:
tiles_df = tiles_df = tiles_df.sort_values(by='tile')
tiles_df.to_csv("../../data/1_raw/tiles.csv", header=True, index=False)
tiles_df

          tile  N_dates tile_x tile_y
17   1536_1024       71   1536   1024
8    1536_1536       71   1536   1536
2    2048_1024       71   2048   1024
21   2048_1536       71   2048   1536
30   4608_4608       71   4608   4608
..         ...      ...    ...    ...
16   7680_5120       71   7680   5120
31   7680_5632       71   7680   5632
12   7680_9728       71   7680   9728
44  8192_10240       71   8192  10240
14  8704_10240       71   8704  10240

[65 rows x 4 columns]

In [181]:
tiles_df['tile'].sort_values()

17     1536_1024
8      1536_1536
2      2048_1024
21     2048_1536
30     4608_4608
         ...
16     7680_5120
31     7680_5632
12     7680_9728
44    8192_10240
14    8704_10240
Name: tile, Length: 65, dtype: object

In [182]:
df['date'].value_counts()
dates = df['date'].value_counts()
dates = dates.to_frame()
dates.to_csv("../../data/1_raw/dates.csv", header=False)
dates

            date
2018-07-15    65
2019-07-20    65
2017-07-10    65
2017-07-30    65
2019-03-12    65
...          ...
2017-12-27    65
2017-09-08    65
2017-05-01    65
2019-01-21    65
2018-06-05    65

[71 rows x 1 columns]

In [183]:
dates_df = pd.read_csv("../../data/1_raw/dates.csv", names=["date", "N_tiles"])
dates_df

          date  N_tiles
0   2018-07-15       65
1   2019-07-20       65
2   2017-07-10       65
3   2017-07-30       65
4   2019-03-12       65
..         ...      ...
66  2017-12-27       65
67  2017-09-08       65
68  2017-05-01       65
69  2019-01-21       65
70  2018-06-05       65

[71 rows x 2 columns]

In [184]:
dates_df = dates_df.sort_values(by=['date'], ascending=True)
dates_df.to_csv("../../data/1_raw/dates.csv", header=True, index=False)