In [288]:
import pandas as pd
import glob
import json

In [289]:
geojson_files_ex = glob.glob('../../data/phase-02/geometries/geo-x7680-y10240.geojson')

In [290]:
geojson_files_ex

['../../data/phase-02/geometries/geo-x7680-y10240.geojson']

In [291]:
json_file = open(geojson_files_ex[0])

In [292]:
json_file

In [293]:
data = json.load(json_file)

In [294]:
data

{'type': 'FeatureCollection',
 'crs': {'type': 'name',
  'properties': {'name': 'urn:ogc:def:crs:OGC:1.3:CRS84'}},
 'features': [{'type': 'Feature',
   'properties': {},
   'geometry': {'type': 'Polygon',
    'coordinates': [[[148.69880265667112, -20.81291008367845],
      [148.74789135375457, -20.8124269354772],
      [148.74841411882176, -20.858591175163056],
      [148.69931035985314, -20.859074739547466],
      [148.69880265667112, -20.81291008367845]]]}}]}

In [295]:
data['type']

'FeatureCollection'

In [296]:
data['crs']['properties']['name']

'urn:ogc:def:crs:OGC:1.3:CRS84'

In [297]:
data['features'][0]['geometry']['type']

'Polygon'

In [298]:
data['features'][0]['geometry']['coordinates']

[[[148.69880265667112, -20.81291008367845],
  [148.74789135375457, -20.8124269354772],
  [148.74841411882176, -20.858591175163056],
  [148.69931035985314, -20.859074739547466],
  [148.69880265667112, -20.81291008367845]]]

In [299]:
json_files_ex = glob.glob('../../data/phase-02/metadata/2016-12-22.json')

In [300]:
json_files_ex

['../../data/phase-02/metadata/2016-12-22.json']

In [301]:
json.load(open(json_files_ex[0]))

{'cloud-cover': 26,
 'metadata': {'collection': 'S2',
  'license': {'licenseId': 'unlicensed',
   'hasToBeSigned': 'never',
   'grantedCountries': None,
   'grantedOrganizationCountries': None,
   'grantedFlags': None,
   'viewService': 'public',
   'signatureQuota': -1,
   'description': {'shortName': 'No license'}},
  'productIdentifier': 'S2A_MSIL1C_20161222T002102_N0204_R116_T55KFT_20161222T002059',
  'parentIdentifier': None,
  'title': 'S2A_MSIL1C_20161222T002102_N0204_R116_T55KFT_20161222T002059',
  'description': None,
  'organisationName': None,
  'startDate': '2016-12-22T00:21:02.026Z',
  'completionDate': '2016-12-22T00:21:02.026Z',
  'productType': 'S2MSIL1C',
  'processingLevel': 'L1C',
  'platform': 'S2A',
  'instrument': 'MSI',
  'resolution': 0,
  'sensorMode': None,
  'orbitNumber': 116,
  'quicklook': 'https://copernicus-dtn.nci.org.au/public/Sentinel-2/MSI/L1C/2016/2016-12/20S145E-25S150E/S2A_MSIL1C_20161222T002102_N0204_R116_T55KFT_20161222T002059.png',
  'thumbnail': 'https://copernicus-dtn.nci.org.au/public/Sentinel-2/MSI/L1C/2016/2016-12/20S145E-25S150E/S2A_MSIL1C_20161222T002102_N0204_R116_T55KFT_20161222T002059.png',
  'updated': '2018-02-06T13:23:32.969558Z',
  'published': '2018-02-06T13:23:32.969558Z',
  'snowCover': 0,
  'cloudCover': 26,
  'keywords': [{'id': '62f4365c66c1f64',
    'name': 'Oceania',
    'normalized': 'oceania',
    'type': 'continent',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Oceania'},
   {'id': '8f36daace0ea948',
    'name': 'Australia',
    'normalized': 'australia',
    'type': 'country',
    'parentHash': '62f4365c66c1f64',
    'value': 65.86,
    'gcover': 0.1,
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Australia'},
   {'id': '47c44d8523d145e',
    'name': '_all',
    'normalized': '_all',
    'type': 'region',
    'parentHash': '8f36daace0ea948',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=_all'},
   {'id': '72243e27011ac3a',
    'name': 'Queensland',
    'normalized': 'queensland',
    'type': 'state',
    'parentHash': '47c44d8523d145e',
    'value': 65.99,
    'gcover': 0.46,
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Queensland'},
   {'id': '6f61c304f417a39',
    'name': 'Tropical',
    'type': 'location',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Tropical'},
   {'id': 'd817ecd5e7765d3',
    'name': 'Southern',
    'type': 'location',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Southern'},
   {'id': '8e973c5726ef929',
    'name': 'Coastal',
    'type': 'location',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Coastal'},
   {'id': '6278eea013ff0d3',
    'name': 'Summer',
    'type': 'season',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=Summer'},
   {'id': 'b7f78fb19004053',
    'name': 'S2',
    'type': 'collection',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=S2'},
   {'id': '7b0693d380587a1',
    'name': 'S2MSIL1C',
    'type': 'productType',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=S2MSIL1C'},
   {'id': '603ae1a7fe4f507',
    'name': 'L1C',
    'type': 'processingLevel',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=L1C'},
   {'id': 'afe9ad14455c260',
    'name': 's2A',
    'type': 'platform',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=s2A'},
   {'id': '503f8f6199f3e44',
    'name': 'msi',
    'type': 'instrument',
    'parentHash': 'afe9ad14455c260',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=msi'},
   {'id': '8fb683ee11c8138',
    'name': '2016',
    'type': 'year',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=2016'},
   {'id': '21881df5c8bdcca',
    'name': 'December',
    'type': 'month',
    'parentHash': '8fb683ee11c8138',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=December'},
   {'id': 'ff6a57b068060be',
    'name': '22',
    'type': 'day',
    'parentHash': '21881df5c8bdcca',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/api/collections/S2/search.json?&lang=en&q=22'}],
  'centroid': {'type': 'Point',
   'coordinates': [148.48600839605, -20.384985615979]},
  'softwareVersion': '02.04',
  'processingTime': '2016-12-22T00:20:59Z',
  'services': {'download': {'url': 'https://copernicus.nci.org.au/sara.server/1.0/collections/S2/c739dd8c-131c-52cb-9f9e-4885a6c36544/download',
    'mimeType': 'application/unknown',
    'size': 749641688,
    'checksum': 'md5=7352807120C7ED0240037B4A118CA612'}},
  'links': [{'rel': 'self',
    'type': 'application/json',
    'title': 'GeoJSON link for c739dd8c-131c-52cb-9f9e-4885a6c36544',
    'href': 'https://copernicus.nci.org.au/sara.server/1.0/collections/S2/c739dd8c-131c-52cb-9f9e-4885a6c36544.json?&lang=en'}]}}

In [302]:
json_files_ex[0]

'../../data/phase-02/metadata/2016-12-22.json'

In [303]:
l = data['features'][0]['geometry']['coordinates'][0][0:4]

In [304]:
names = ['x1','y1','x2','y2','x3','y3','x4','y4']

In [305]:
flatten = lambda l: [item for sublist in l for item in sublist]

In [306]:
#flatten(l)
list(zip(names, flatten(l)))

[('x1', 148.69880265667112),
 ('y1', -20.81291008367845),
 ('x2', 148.74789135375457),
 ('y2', -20.8124269354772),
 ('x3', 148.74841411882176),
 ('y3', -20.858591175163056),
 ('x4', 148.69931035985314),
 ('y4', -20.859074739547466)]

In [307]:
pd.DataFrame([flatten(l)], columns=list(names))

,x1,y1,x2,y2,x3,y3,x4,y4
0,148.698803,-20.81291,148.747891,-20.812427,148.748414,-20.858591,148.69931,-20.859075

In [308]:
#pd.DataFrame(flatten(l).T, columns=list(names))
[flatten(l)]

[[148.69880265667112,
  -20.81291008367845,
  148.74789135375457,
  -20.8124269354772,
  148.74841411882176,
  -20.858591175163056,
  148.69931035985314,
  -20.859074739547466]]

In [309]:
pd.DataFrame([flatten(l)], columns=list(names))

,x1,y1,x2,y2,x3,y3,x4,y4
0,148.698803,-20.81291,148.747891,-20.812427,148.748414,-20.858591,148.69931,-20.859075

In [310]:
import json as j
import pandas as pd
import glob

from pkg_resources import resource_filename as fpath
import sys
sys.path.append(fpath(__name__, ""))
fp = fpath(__name__, "..\..\data\phase-02\metadata")

final = pd.DataFrame()
files = glob.glob('../../data/phase-02/geometries/*.geojson')

names = ['x1','y1','x2','y2','x3','y3','x4','y4', 'crs', 'tile_x', 'tile_y']
flatten = lambda l: [item for sublist in l for item in sublist]

#https://gis.stackexchange.com/questions/54073/what-is-crs84-projection
#f = files[0]
for f in files:
    data = json.load(open(f))
    crs = data['crs']['properties']['name'].split(":")[6]
    l = data['features'][0]['geometry']['coordinates'][0][0:4]
    x = f.split("\\")[1].split(".")[0].split("-")[1][1:]
    y = f.split("\\")[1].split(".")[0].split("-")[2][1:]
    l.append([crs, x, y])
    [flatten(l)]
    df = pd.DataFrame([flatten(l)], columns=list(names))
    final = final.append(df)
final.to_csv("../../data/1_raw/coordinates.csv", header=True, index=False)

In [311]:
files[0]
x = f.split("\\")[1].split(".")[0].split("-")[1][1:]
y = f.split("\\")[1].split(".")[0].split("-")[2][1:]
print("%s, %s, %s" % (files[0], x, y))

../../data/phase-02/geometries\geo-x0-y0.geojson, 9728, 9728

In [312]:
#https://stackabuse.com/reading-and-writing-json-to-a-file-in-python/
print(x)
print(y)
final.head()

9728
9728

,x1,y1,x2,y2,x3,y3,x4,y4,crs,tile_x,tile_y
0,147.955299,-19.893321,148.004101,-19.893050,148.004399,-19.939217,147.955579,-19.939493,CRS84,0,0
0,147.955859,-19.985845,148.004697,-19.985570,148.004992,-20.031742,147.956139,-20.032016,CRS84,0,1024
0,147.960934,-20.818511,148.010033,-20.818238,148.010331,-20.864404,147.961217,-20.864678,CRS84,0,10240
0,147.956140,-20.032106,148.004992,-20.031832,148.005287,-20.078003,147.956420,-20.078277,CRS84,0,1536
0,147.956421,-20.078367,148.005288,-20.078094,148.005582,-20.124264,147.956701,-20.124538,CRS84,0,2048

In [313]:
df

,x1,y1,x2,y2,x3,y3,x4,y4,crs,tile_x,tile_y
0,148.894969,-20.764639,148.94404,-20.764103,148.944623,-20.810265,148.895537,-20.810802,CRS84,9728,9728

In [314]:
df['crs'][0].split(":")[6]

IndexError: list index out of range