In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\cygwin64\home\Brendan\sdthon\data\phase-02\data.csv")

In [5]:
df = df[['cc_p60','x','y','date','harvested','ndvi']]

In [6]:
df

      cc_p60     x      y        date  harvested      ndvi
0       2282  1536   1024  22/12/2016       1338  0.376255
1     116580  1536   1024   1/01/2017       2927  0.320048
2      50951  1536   1024  11/01/2017        386  0.386997
3      41128  1536   1024  10/02/2017         30  0.533278
4     227199  1536   1024  20/02/2017        227  0.432936
...      ...   ...    ...         ...        ...       ...
4610      54  8704  10240  20/06/2019       2456  0.580420
4611      76  8704  10240  30/06/2019       2787  0.543242
4612     126  8704  10240  20/07/2019       3842  0.488003
4613     210  8704  10240  30/07/2019       3524  0.466302
4614      81  8704  10240   9/08/2019       4901  0.429387

[4615 rows x 6 columns]

In [ ]:
"""
https://towardsdatascience.com/how-to-use-open-source-satellite-data-for-your-investigative-reporting-d662cb1f9f90

def plot_water_levels(eopatch, max_coverage=1.0):
    fig, ax = plt.subplots(figsize=(20,7))

    dates = np.asarray(eopatch.timestamp)
    ax.plot(dates[eopatch.scalar['COVERAGE'][...,0]<max_coverage],
            eopatch.scalar['WATER_LEVEL'][eopatch.scalar['COVERAGE'][...,0]<max_coverage],
            'bo-',alpha=0.7, label='Water Level')
    ax.plot(dates[eopatch.scalar['COVERAGE'][...,0]<max_coverage],
            eopatch.scalar['COVERAGE'][eopatch.scalar['COVERAGE'][...,0]<max_coverage],
            '--',color='gray',alpha=0.7, label='Cloud Coverage')
    ax.set_ylim(0.0,1.1)
    ax.set_xlabel('Date')
    ax.set_ylabel('Water Level')
    ax.set_title('Detected Water Level')
    ax.grid(axis='y')
    ax.legend(loc='best')
    return ax

# plot the water level with no cloudy scene filtering (accept all clouds)
ax = plot_water_levels(eopatch, 1.0);

plot_water_levels(eopatch, 0.02);
"""